body{
    margin: 0;
    padding: 0;
    font-family: Avenir;
}

#topNav{
    z-index: 1;
    width: 100%;
    height: 30px;
    background-color: #E3DDE7;
    overflow-x: auto;
    overflow-y: hidden;
}
#logo {
    width: 100px;
    height: auto;
    float: left;
    padding: 5px;
    background-color: #E3DDE7;
}

#rightNav {
    float: right;
    width: 400px;
    vertical-align: middle;
    height: auto;
}

#topNavIcon {
    float: right;
    padding: 6px;
    vertical-align: middle;
    width: auto;
    height: auto;
}

.icon {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    vertical-align: middle;
    float: right;
}

#iconContainer {
    float: right;
    background-color: #E3DDE7;
    display: flex;
    align-items: center; 
    height: 30px;
}

#logoImg {
    width: 100px;
    height: 100px;
    border-radius: 200px;
    margin-left: 50%;
    margin-bottom: 15px;
    transform: translate(-50%, 0);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#wifiIcon {
    margin-top: 4px;
}

#timeDate {
    display: inline-block;
    width: auto;
    height: 8%;
    vertical-align: middle;
    font-family: Avenir;
}

#iconList {

    list-style: none;
    height: 30px;
    display: flex;
    align-items: center;
}

.listIcon {
    display: inline-block;
    height: 30px;
    width: auto;
    line-height: 30px;
}

#searchIcon {
    background-image: url("/resources/searchIcon.png");
    width: auto;
    height: 30px;
}

#main {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-image: url("https://wallpapercave.com/wp/AVfwECt.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.folder {
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
}

#canvas {
    height: 100%;
    background-color: antiquewhite;
}

.window {
    background-color: blue;
    width: 400px;
    height: 400px;
}

.top-bar {
    height: 40px;
    background-color: grey;
}

.top-bar-container {
    transform: translateY(50%);
    -ms-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -o-transform: translateY(50%);
    text-align: center;
    background-color:aliceblue;
}

.top-bar-button {
    height: 20px;
    width: 20px;
    background-color: green;
    display: inline-block;
}



.window-title {
    background-color: white;
}

.top-bar-button-containers {
    float: left;
    position: absolute;
}

#loginContainer {
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.logStyle {
    list-style: none;
    
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

#loginList {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputInfo {
    border-radius: 6px;
    border: none;
    width: 250px;
    height: 30px;
    margin: 10px;
    outline: none;
}



.logBtn {
    display: inline-block;
    width: 80px;
    height: 32px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color: darkgray;
    font-family: Avenir;
    font-size: 13px;
    outline: none;
}

.listBtn {
    width: 205px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#logoutBtn {
    display: inline-block;
    width: 70px;
    height: 22px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    background-color: 
    font-family: Avenir;
    font-size: 14px;
    outline: none;
}

#signUpForm {
    z-index: 4;
    width: auto;
    
}



.folder-icon {
    display: block;
    max-width:100%;
    max-height:100%;
}

.folder-name {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
}
